<div class="row">
<div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
  <% comments.each do |comment| %>
  <% if comment.id.present? %>
    <div class="panel panel-default">
      <div class="panel-body">
        <P><%= simple_format(comment.content) %><P>
        <P>commented by: <strong><%= comment.user.name %></strong><P>
        <%= link_to '編集', edit_topic_comment_path(comment.topic_id, comment.id), class: 'btn btn-info btn-sm' if comment.user_id == current_user.id %>
        <%= link_to '削除', topic_comment_path(comment.topic_id, comment.id), method: :delete, remote: true, class: 'btn btn-danger btn-sm' if comment.user_id == current_user.id %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
</div>
