<%= form_for(comment, url: topic_comments_path(comment.topic), remote: true) do |f| %>
  <div class="row">
    <%= f.text_area :content, class: "form-control", placeholder: 'コメントを入力' %>
  </div>
  <div class="row">
    <%= f.submit 'コメントを送信', class: 'btn btn-success' %>
  </div>
<% end %>
