<h1>ユーザ一覧</h1>

<ul class="users">
  <% @users.each do |user| %>
  <ul>
    <li><%= link_to user.name, user_path(user) %></li>
    <li><%= profile_img(user) %></li>
    <% if user != current_user %>
      <%= render partial: 'follow_form', locals: { user: user } %>
    <% else %>
      <%= link_to 'ユーザー編集', edit_user_registration_path %>
    <% end %>
  </ul>
  <% end %>
</ul>
