<p>こんにちは <%= @resource.email %>さん！</p>

<p>以下のリンクをクリックしてパスワード変更て続きを行ってください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに覚えがない場合、スルーしてください。</p>
<p>リンクをクリックしなければ、パスワードは変更されません。</p>
